<div class="loading-indicator" *ngIf="loadingService.loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>


<div class="componente-container">

    <div class="text-end m-b-20">
        <button mat-raised-button color="primary" routerLink="form">+ Cadastrar</button>
    </div>

    <div class="table-container" >
        <table mat-table [dataSource]="dataSource" class="w-100" matSort matSortActive="created" matSortDisableClear
            matSortDirection="desc" *ngIf="dataSource?.filteredData.length">

            <ng-container matColumnDef="codigoProduto">
                <th mat-header-cell *matHeaderCellDef>Cod. Produto</th>
                <td mat-cell *matCellDef="let row">{{row.codigoProduto}}</td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let row">{{row.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="fabricacao">
                <th mat-header-cell *matHeaderCellDef>Fabricação</th>
                <td mat-cell *matCellDef="let row">{{validaTextoFabricacao(row.fabricacao)}}</td>
            </ng-container>

            <ng-container matColumnDef="tamanho">
                <th mat-header-cell *matHeaderCellDef>Tamanho</th>
                <td mat-cell *matCellDef="let row">{{row.tamanho}}</td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef>Valor</th>
                <td mat-cell *matCellDef="let row">{{row.valor.toLocaleString('pt-br')}}</td>
            </ng-container>


            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" class="text-end">
                    <button mat-raised-button color="basic" class="btn-table" (click)="goEdit(row)">
                        <mat-icon aria-hidden="false">edit</mat-icon>
                        <label class="label-button">Editar</label>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="excluir">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" class="text-end">
                    <button mat-raised-button color="basic" class="btn-delete" (click)="remove(row)">
                        <mat-icon aria-hidden="false">delete</mat-icon>
                        <label class="label-button">Excluir</label>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>

    </div>
    <div *ngIf="!dataSource?.filteredData.length" class="text-center m-t-100 color-text-primary">
        <h1>Nenhum registro encontrado</h1>
    </div>


</div>